body {
    font-family: Roboto, -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}

header {
  height: 100px;
  line-height: 80px;
}

img {
  width: 70%;
  height: 100%;
}

.logo {
  line-height: 80px;
  text-align: right;
}
